{% extends 'accounts/base.html' %}
{% block title %}{{user}}{% endblock %}
{% load static%}
{% block content %}
    <p><a href="{% url 'posts:home'%}" style="text-decoration: none; font-size: 2rem;">🔙</a></p>
    <section>
        {% if detail_user.profile_photo %}
        <img src="{{ detail_user.profile_photo.url }}" alt="Profile photo">
        {% else %}
        <img src="{% static 'images/default_profile.png' %}" alt="default profile_photo" style="width: 100px; height: 100px; border-radius: 50px;"> 
        {% endif %}
        {% if user.id != detail_user.id %}
            {% for follower in all_followers %}
                {% if user.id == follower.id %}
                <a href="{% url 'unfollow_user' detail_user.id %}">
                    <button type="submit" style="background-color: orangered; color: white; cursor: pointer;">Unf𝗼𝗹𝗹𝗼𝘄</button>
                </a>
                {% elif user not in all_followers %}
                    <a href="{% url 'follow_user' detail_user.id %}">
                        <button type="submit" style="background-color: orangered; color: white; cursor: pointer;">𝗙𝗼𝗹𝗹𝗼𝘄</button>
                    </a>
                {% endif %}
            {% empty %}
                <a href="{% url 'follow_user' detail_user.id %}">
                    <button type="submit" style="background-color: orangered; color: white; cursor: pointer;">𝗙𝗼𝗹𝗹𝗼𝘄</button>
                </a>
            {% endfor %}          
        {% endif%}
        <button style="background-color: paleturquoise; color: black; cursor: pointer;">Posts {{user_posts_count}}</button>
        <button style="background-color: blue; color: whitesmoke; cursor: pointer;">Followers {{follwer_count}}</button>
        <button style="background-color: yellowgreen; color: black; cursor: pointer;">Following {{following_count}}</button>
    </section>
    <br>
    <section>
        <span><strong>Username: </strong>{{detail_user.username}}</span><br>
        <span><strong>Bio: </strong>{{detail_user.bio}}</span><br>
        <span><strong>Date joined: </strong>{{detail_user.date_joined}}</span>
    </section>
    <section>
        {% for post in user_posts %}
        <div>
            <ul style="list-style: none;">
                <li>{{post.title}}</li>
                <li>{{post.content}}</li>
                <li>{{post.created_at}}</li>
            </ul>
        </div>
        <hr>
        {% endfor %}
        
    </section>
{% endblock %}