{% extends 'blog/base.html' %}
{% load static %}
{% block title %}Home{% endblock %}
{% block content %}
    <section>
        <h1>{{author}}'s page</h1>
        {% for post in user_posts %}
            <ul style="list-style: none;">
                <li>Posted By: {{post.author.username}}</li>
                <li>Post Title: {{post.title}}</li>
                <li>Post Content: {{post.content}} </li>
                <li>Date Published: {{post.published_date}} </li>
                <li>Tag: {{post.tags}} </li>
            </ul>
            <form method="POST" action="">
                {% csrf_token %}
                <button style="background-color: burlywood; color: brown;cursor: pointer;">Add Comment
                </button>
            </form>
        {% endfor %}
    </section>
{% endblock %}