<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
</head>
<body>
    <p>Welcome {{user}}</p>
    <section>
        {% for post in all_posts %}
        <ul style="list-style: none;">
            <li>Creator: <a href="{% url 'userprofile' post.author.id %}">{{post.author.username}}</a></li>
            <li>Title: {{post.title}}</li>
            <li>Content: {{post.content}}</li>
            <li>Date: {{post.created_at}}</li>
            <li>Updated: {{post.updated_at}}</li>
            <br>
            <button style="background-color: rgb(255, 156, 120); color: white;">❤️</button>
        <button style="background-color: yellowgreen; color: black;">💬</button>
        </ul>
        
        <hr>
        {% endfor %}
    </section>
</body>
</html>